.animate {
  opacity: 0;
  transition-duration: var(--duration);
  transition-delay: var(--delay);
  transition-timing-function: ease-out;
}
.animate.animate-start {
  opacity: 1;
}

/* Fade animations */
.fade-up {
  transform: translateY(30px);
}
.fade-down {
  transform: translateY(-30px);
}
/* .fade-left {
  transform: translateX(30px);
} */
.fade-right {
  transform: translateX(-30px);
}
.animate-start.fade-up,
.animate-start.fade-down,
.animate-start.fade-left,
.animate-start.fade-right {
  transform: translate(0);
}

/* Zoom animations */
.zoom-in {
  transform: scale(0.95);
}
.zoom-out {
  transform: scale(1.05);
}
.animate-start.zoom-in,
.animate-start.zoom-out {
  transform: scale(1);
}

/* Slide animations */
.slide-up {
  transform: translateY(100%);
}
.slide-down {
  transform: translateY(-100%);
}
.slide-left {
  transform: translateX(100%);
}
.slide-right {
  transform: translateX(-100%);
}
.animate-start.slide-up,
.animate-start.slide-down,
.animate-start.slide-left,
.animate-start.slide-right {
  transform: translate(0);
}

/* Flip animations */
.flip-x {
  transform: rotateX(90deg);
}
.flip-y {
  transform: rotateY(90deg);
}
.animate-start.flip-x,
.animate-start.flip-y {
  transform: rotate(0);
}

/* Rotate animations */
.rotate-left {
  transform: rotate(-90deg);
}
.rotate-right {
  transform: rotate(90deg);
}
.animate-start.rotate-left,
.animate-start.rotate-right {
  transform: rotate(0);
}
