.yellow-square {
  width: 75px;
  height: 75px;
  background-color: #ffe564c9;
  animation-name: full-rotate;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}
.rotated-plus {
  animation: none;
}
.btn:hover .rotated-plus {
  animation-name: full-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.wave {
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-duration: 50s;
  animation-timing-function: linear;
}
.play-video {
  position: relative;
  z-index: 2;
}
.play-video::before,
.play-video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: ripple 1.5s infinite ease-out;
  pointer-events: none;
  z-index: 0;
}
.contact-image1 {
  animation-name: swimmingIcon1;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.contact-image2 {
  animation-name: swimmingIcon2;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animation start */
@keyframes full-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0% {
    left: 0%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 0%;
  }
}
@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}
@keyframes swimmingIcon1 {
  0% {
    top: 0%;
    left: 35%;
  }
  10% {
    top: 15%;
    left: 35%;
  }
  20% {
    top: 68%;
    left: 39%;
  }
  30% {
    top: 45%;
    left: 61%;
  }
  40% {
    top: 72%;
    left: 60%;
  }
  50% {
    top: 90%;
    left: 70%;
  }
  100% {
    top: 0%;
    left: 35%;
  }
}
@keyframes swimmingIcon2 {
  0% {
    top: 100%;
    left: 78%;
  }
  10% {
    top: 74%;
    left: 84%;
  }
  20% {
    top: 59%;
    left: 75%;
  }
  30% {
    top: 39%;
    left: 49%;
  }
  40% {
    top: 65%;
    left: 40%;
  }
  50% {
    top: 0%;
    left: 0%;
  }
  100% {
    top: 100%;
    left: 78%;
  }
}
